<div class="my-3">
    <h2>Pluck </h2>
    <br>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex - 01 Take (5)</strong>
            <p class="border my-2 bg-light rounded">Take(5)</p>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Take(5)</strong>Take(5)
            </p>
            <br>
            
            <ul id="elContainer1">
            
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 02 TakeLast</strong>
            <p class="border my-2 bg-light rounded">TakeLast(3)</p>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>TakeLast</strong>TakeLast
            </p>
            <br>
            <ul id="elContainer2">
            
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 03 Take Untill</strong>
            <p class="border my-2 bg-light rounded">TakeUntill</p>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>TakeUntill</strong>TakeUntill
            </p>
            <br>
            <ul id="elContainer3">

            </ul>
        </div>
    </div>
</div>