<div class="my-3">
    <h3>ExhaustMap</h3>
    <br>
    <hr>

    <div class="row">
        <div class="col-md-5 mr-auto">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <button class="btn btn-success" #btn>Save Data</button> &nbsp;
                </div>
            </div>
            {{products.length}}
        </div>

        <div class="col-md-5">
            <div *ngIf="fetching" class="text-center">
                <div class="spinner-border text-warning" role="status">
                    <span class="sr-only">
                        Loading...
                    </span> Saving..
                </div>
            </div>
        </div>

        <ul class="video-list">
            <li><strong>
                Save Request: {{num}}
            </strong></li>
        </ul>
    </div>


</div>