<div class="my-3" [ngStyle]="{'color': myColor}">
    <h2>Tap </h2>
    <br>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex - 01 </strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Filter : </strong> By Length
            </p>
            <br>
            <ul id="elContainer1">

            </ul>
            
        </div>
        <div class="col-md-4">
            <strong>Ex - 02</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Filter : </strong> By Color
            </p>
            <br>
            <ul id="elContainer2">
            
            </ul>
            

        </div>
        <div class="col-md-4">
            <strong>Ex - 01 (Filter By Item)</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Filter : </strong> By Item
            </p>
            <br>
            
        </div>

    </div>
</div>