.red {
    background-color: red;
    color: red;
}

.green {
    background-color: green;
    color: green;
}

.yellow {
    background-color: yellow;
    color: yellow;
}

.purple {
    background-color: purple;
    color: purple;
}

.grey {
    background-color: grey;
    color: grey;
}