<div class="my-3">
    <h2>toArray </h2>
    <br>
    <strong>Ex - 01 Of</strong>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p class="border my-2 bg-light rounded">of('Divya', 'Prakash', 'Mishra')</p>
            <hr>
            <ul id="elContainer">
            </ul>
        </div>
        <div class="col-md-6">
            <p class="border my-2 bg-light rounded">of(&#123;'Divya', 'Prakash', 'Mishra'&#125;)</p>
            <hr>
            <ul id="elContainer1">
                <!-- <li><strong>a : </strong> {{obsMsg.a}}</li>
                <li><strong>b : </strong> {{obsMsg.b}}</li>
                <li><strong>c : </strong> {{obsMsg.c}}</li> -->
            </ul>
        </div>
    </div>
</div>